<!-- About us-->
<section class="section">
    <div class="parallax-container" data-parallax-img="{{ url_for('static', filename='images/img/campo.jpg') }}">
        <div class="parallax-content section-xl context-dark bg-overlay-68">
            <div class="container">
                <div class="row row-lg row-50 justify-content-center border-classic border-classic-big">
                    <div class="col-sm-6 col-md-5 col-lg-3 wow fadeInLeft" data-wow-delay="0s">
                        <div class="counter-creative">
                            <div class="counter-creative-number"><span class="counter">12</span><img
                                    style="position: relative; top: 2px; right: -18px;"
                                    src="{{ url_for('static', filename='images/img/red.png') }}" alt="" width="53"
                                    height="73" />
                            </div>
                            <h6 class="counter-creative-title">Entidades Al&iacute;adas</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-3 wow fadeInLeft" data-wow-delay=".1s">
                        <div class="counter-creative">
                            <div class="counter-creative-number"><span class="counter">2</span><span
                                    class="symbol">k</span><img style="position: relative; top: 2px; right: -14px;"
                                    src="{{ url_for('static', filename='images/img/suministro.png') }}" alt=""
                                    width="50" height="70" />
                            </div>
                            <h6 class="counter-creative-title">Tiendas Agr&iacute;colas al&iacute;adas</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-3 wow fadeInLeft" data-wow-delay=".2s">
                        <div class="counter-creative">
                            <div class="counter-creative-number"><span class="counter">679</span><img
                                    style="position: relative; top: 2px; right: -10px;"
                                    src="{{ url_for('static', filename='images/img/mercado.png') }}" alt="" width="48"
                                    height="56" />
                            </div>
                            <h6 class="counter-creative-title">Plazas agr&iacute;colas al&iacute;adas</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-3 wow fadeInLeft" data-wow-delay=".3s">
                        <div class="counter-creative">
                            <div class="counter-creative-number"><span class="counter">13</span><img
                                    style="position: relative; top: 2px; right: -10px;"
                                    src="{{ url_for('static', filename='images/img/granjero.png') }}" alt="" width="48"
                                    height="56" />
                            </div>
                            <h6 class="counter-creative-title">Agricultores</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>