<!-- Icons Ruby-->
<section class="section section-md bg-default section-top-image">
    <div class="container">
        <div class="row row-30 justify-content-center">
            <div class="col-sm-6 col-lg-4 wow fadeInRight" data-wow-delay="0s">
                <article class="box-icon-ruby">
                    <div
                        class="unit box-icon-ruby-body flex-column flex-md-row text-md-left flex-lg-column align-items-center text-lg-center flex-xl-row text-xl-left">
                        <div class="unit-left">
                            <div><img src="{{ url_for('static', filename='images/img/verduras.png') }}" alt=""
                                    width="58" height="58" /> </div>
                        </div>
                        <div class="unit-body">
                            <h4 class="box-icon-ruby-title"><a href="#">Precios de Productos Agrícolas</a></h4>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeInRight" data-wow-delay=".1s">
                <article class="box-icon-ruby">
                    <div
                        class="unit box-icon-ruby-body flex-column flex-md-row text-md-left flex-lg-column align-items-center text-lg-center flex-xl-row text-xl-left">
                        <div class="unit-left">
                            <div><img src="{{ url_for('static', filename='images/img/fertilizer.png') }}" alt=""
                                    width="58" height="58" /></div>
                        </div>
                        <div class="unit-body">
                            <h4 class="box-icon-ruby-title"><a href="#">Precios de Insumos Agrícolas</a></h4>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-4 wow fadeInRight" data-wow-delay=".2s">
                <article class="box-icon-ruby">
                    <div
                        class="unit box-icon-ruby-body flex-column flex-md-row text-md-left flex-lg-column align-items-center text-lg-center flex-xl-row text-xl-left">
                        <div class="unit-left">
                            <div><img src="{{ url_for('static', filename='images/img/sembrado.png') }}" alt=""
                                    width="58" height="58" /></div>
                        </div>
                        <div class="unit-body">
                            <h4 class="box-icon-ruby-title"><a href="#">Lo más Sembrado en el Catatumbo</a></h4>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>