<!-- Section CTA 2-->
<section class="section text-center">
    <div class="parallax-container"
        data-parallax-img="{{ url_for('static', filename='images/img/precios_insumos.jpg') }}">
        <div class="parallax-content section-xl section-inset-custom-1 context-dark bg-overlay-40">
            <div class="container">
                <h2 class="oh font-weight-normal" style="padding: 12px;margin: 0;"><span
                        class="d-inline-block wow slideInDown" data-wow-delay="0s">&Uacute;ltimas Noticias de
                        Agricultura</span></h2>
                <p class="oh big text-width-large" style="color:white"><span class="d-inline-block wow slideInUp"
                        data-wow-delay=".2s">¿Cuál es la razón detrás de que los agricultores estén experimentando
                        mayores pérdidas en la actualidad, teniendo en cuenta que la presencia de los intermediarios en
                        la cadena de ventas siempre ha existido?</span></p><a
                    class="button button-primary button-icon button-icon-left button-ujarak wow fadeInUp"
                    href="https://www.youtube.com/watch?v=H-UlbiozeYs" data-lightgallery="item"
                    data-wow-delay=".1s"><span class="icon mdi mdi-play"></span>Ver Video</a>
            </div>
        </div>
    </div>
</section>