<!-- Swiper-->
<section class="section swiper-container swiper-slider swiper-slider-modern" data-loop="true" data-autoplay="5000"
    data-simulate-touch="true" data-nav="true" data-slide-effect="fade">
    <div class="swiper-wrapper text-left">
        <div class="swiper-slide context-dark" data-slide-bg="{{ url_for('static', filename='images/img/img1.jpg') }}">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row justify-content-center justify-content-xxl-start">
                        <div class="col-md-10 col-xxl-6">
                            <div class="slider-modern-box">
                                <h1 class="slider-modern-title" style="font-size: 100px;"><span
                                        data-caption-animate="slideInDown" data-caption-delay="0"
                                        style="color: white">Consejos Post-Cosecha</span></h1>
                                <p data-caption-animate="fadeInRight" data-caption-delay="400" style="color: white">
                                    Consejos prácticos para el manejo y almacenamiento postcosecha de productos
                                    agrícolas.</p>
                                <div class="oh button-wrap"><a class="button button-primary button-ujarak"
                                        href="about-us.html" data-caption-animate="slideInLeft"
                                        data-caption-delay="400">Read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide context-dark" data-slide-bg="{{ url_for('static', filename='images/img/img2.jpg') }}">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row justify-content-center justify-content-xxl-start">
                        <div class="col-md-10 col-xxl-6">
                            <div class="slider-modern-box">
                                <h1 class="slider-modern-title" style="font-size: 100px;"><span
                                        data-caption-animate="slideInLeft" data-caption-delay="0">Control de
                                        calidad</span></h1>
                                <p data-caption-animate="fadeInRight" data-caption-delay="400" style="color: white">
                                    Mejora la calidad de tus productos agrícolas con estos consejos de control y
                                    selección.</p>
                                <div class="oh button-wrap"><a class="button button-primary button-ujarak"
                                        href="about-us.html" data-caption-animate="slideInLeft"
                                        data-caption-delay="400">Read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="{{ url_for('static', filename='images/img/img3.jpg') }}">
            <div class="swiper-slide-caption">
                <div class="container">
                    <div class="row justify-content-center justify-content-xxl-start">
                        <div class="col-md-10 col-xxl-6">
                            <div class="slider-modern-box">
                                <h1 class="slider-modern-title" style="font-size: 100px; color: white;"><span
                                        data-caption-animate="slideInDown" data-caption-delay="0">Consejos para una
                                        agricultura sostenible</span></h1>
                                <p data-caption-animate="fadeInRight" data-caption-delay="400" style="color: white">Cómo
                                    utilizar correctamente los insumos agrícolas.</p>
                                <div class="oh button-wrap"><a class="button button-primary button-ujarak"
                                        href="about-us.html" data-caption-animate="slideInUp"
                                        data-caption-delay="400">Read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Swiper Navigation-->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- Swiper Pagination-->
    <div class="swiper-pagination swiper-pagination-style-2"></div>
</section>