<!-- Team of professionals-->
<section class="section section-md bg-default">
    <div class="container">
        <div class="oh">
            <h2 class="wow slideInUp" data-wow-delay="0s">Nuestro Equipo</h2>
        </div>
        <div class="row row-30 justify-content-center">
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInRight" data-wow-delay="0s">
                <!-- Team Classic-->
                <article class="team-classic"><a class="team-classic-figure" href="#"><img
                            src="{{ url_for('static', filename='images/harold.jpg') }}" alt="" width="370"
                            height="406" /></a>
                    <div class="team-classic-caption">
                        <h5 class="team-classic-name"><a href="#">Harold Fabián Martínez Carvajalino</a></h5>
                        <p class="team-classic-status">Developer</p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInRight" data-wow-delay=".1s">
                <!-- Team Classic-->
                <article class="team-classic"><a class="team-classic-figure" href="#"><img
                            src="{{ url_for('static', filename='images/josue.jpg') }}" alt="" width="370"
                            height="406" /></a>
                    <div class="team-classic-caption">
                        <h5 class="team-classic-name"><a href="#">Josué Campo Silva</a></h5>
                        <p class="team-classic-status">Developer</p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInRight" data-wow-delay=".2s">
                <!-- Team Classic-->
                <article class="team-classic"><a class="team-classic-figure" href="#"><img
                            src="{{ url_for('static', filename='images/yeison.jpg') }}" alt="" width="370"
                            height="406" /></a>
                    <div class="team-classic-caption">
                        <h5 class="team-classic-name"><a href="#">Yeison Danuil Ascanio Ascanio</a></h5>
                        <p class="team-classic-status">Developer</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>