<!-- What people say-->
<section class="section context-dark">
    <div class="parallax-container" data-parallax-img="{{ url_for('static', filename='images/img/testimonios.jpg') }}">
        <div class="parallax-content section-md bg-overlay-2-21">
            <div class="container">
                <div class="oh">
                    <h2 class="wow slideInUp" data-wow-delay="0s">Testimonios</h2>
                </div>
                <!-- Owl Carousel-->
                <div class="owl-carousel owl-modern" data-items="1" data-stage-padding="15" data-margin="30"
                    data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut" data-autoplay="true">
                    <!-- Quote Lisa-->
                    <article class="quote-lisa">
                        <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles"
                                    src="{{ url_for('static', filename='images/img/corabastos.jpg') }}" alt="" width="100" height="100" /></a>
                            <div class="quote-lisa-text">
                                <p class="q">Hoy he comprado un cogollo de su lechuga en un supermercado. ¡Qué increíble y hermosa lechuga que es! Nunca he visto otro tan lleno y verde y
                                    tentadora.</p>
                            </div>
                            <h5 class="quote-lisa-cite"><a href="#">Corabastos</a></h5>
                            <p class="quote-lisa-status">Plaza</p>
                        </div>
                    </article>
                    <!-- Quote Lisa-->
                    <article class="quote-lisa">
                        <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles"
                                    src="{{ url_for('static', filename='images/img/profileTes.gif') }}" alt="" width="100" height="100" /></a>
                            <div class="quote-lisa-text">
                                <p class="q">Quería decirte lo increíble que fue ver la granja y lo mucho que nos encanta la comida. Vuestras manzanas y zanahorias son simplemente maravillosas y su sabor es estupendo.
                                </p>
                            </div>
                            <h5 class="quote-lisa-cite"><a href="#">John Wilson</a></h5>
                            <p class="quote-lisa-status">Agricultor</p>
                        </div>
                    </article>
                    <!-- Quote Lisa-->
                    <article class="quote-lisa">
                        <div class="quote-lisa-body"><a class="quote-lisa-figure" href="#"><img class="img-circles"
                                    src="{{ url_for('static', filename='images/img/profileTes1.jpg') }}" alt="" width="100" height="100" /></a>
                            <div class="quote-lisa-text">
                                <p class="q">La comida de su granja es maravillosa. Muchas noches, cuando nos sentamos a cenar podemos decir que todo lo que hay en este plato es de cultivo local y está delicioso. Gracias a Gracias.</p>
                            </div>
                            <h5 class="quote-lisa-cite"><a href="#">Kate Anderson</a></h5>
                            <p class="quote-lisa-status">Agricultor</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>