<div class="rd-navbar-project rd-navbar-modern-project">
    <div class="rd-navbar-project-modern-header">
        <h4 class="rd-navbar-project-modern-title">Contáctanos</h4>
        <div class="rd-navbar-project-hamburger" data-multitoggle=".rd-navbar-main"
            data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate>
            <div class="project-close"><span></span><span></span></div>
        </div>
    </div>
    <div class="rd-navbar-project-content rd-navbar-modern-project-content">
        <div>
            <p>
                ¡Bienvenido a nuestra empresa comercializadora de productos agrícolas! Nos
                enorgullece ofrecer productos de la más alta calidad y servicio excepcional a
                nuestros clientes.</p>
            <div class="row row-10 gutters-10">
                <div class="col-12"><img src="{{ url_for('static', filename='images/img/AGRO-WEB.png') }}" alt=""
                        width="394" height="255" />
                </div>
            </div>
            <div class="heading-6 subtitle">Nuestro Contácto</div>
            <ul class="rd-navbar-modern-contacts">
                <li>
                    <div class="unit unit-spacing-sm">
                        <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                        <div class="unit-body"><a class="link-phone" href="tel:3112884010">+57
                                3112884010</a></div>
                    </div>
                </li>
                <li>
                    <div class="unit unit-spacing-sm">
                        <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                        <div class="unit-body"><a class="link-location"
                                href="https://www.google.com/maps/place/Estaci%C3%B3n+de+Gasolina+LA+CARBONERA+TERPEL/@8.2246858,-73.3384912,18.5z/data=!4m6!3m5!1s0x8e677bda5a94364d:0x4896435bc5610bce!8m2!3d8.2246447!4d-73.3373382!16s%2Fg%2F11f3wmgmhk?hl=es"
                                target="_blank">cra 7 #39C-55 ME Apto 302 vía acolsure</a></div>
                    </div>
                </li>
                <li>
                    <div class="unit unit-spacing-sm">
                        <div class="unit-left"><span class="icon fa fa-envelope"></span></div>
                        <div class="unit-body"><a class="link-email"
                                href="mailto:hfmartinezc@ufpso.edu.co">hfmartinezc@ufpso.edu.co</a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="list-inline rd-navbar-modern-list-social">
                <li><a class="icon fa fa-facebook" href="#"></a></li>
                <li><a class="icon fa fa-twitter" href="#"></a></li>
                <li><a class="icon fa fa-google-plus" href="#"></a></li>
                <li><a class="icon fa fa-instagram" href="#"></a></li>
                <li><a class="icon fa fa-pinterest" href="#"></a></li>
            </ul>
        </div>
    </div>
</div>