<!-- Latest Projects-->
<section class="section section-md section-fluid bg-default">
  <div class="container">
    <h3 style="font-size: 40px;">Ultimos productos agricolas requeridos</h3>
  </div>
  <!-- Owl Carousel-->
  <div class="owl-carousel owl-classic owl-timeline" data-items="1" data-md-items="2" data-lg-items="3"
    data-xl-items="4" data-margin="30" data-stage-padding="15" data-xxl-stage-padding="0" data-autoplay="true"
    data-nav="true" data-dots="true">
    <div class="owl-item">
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary thumbnail-md">
        <div class="thumbnail-mary-figure"><img src="images/project-1-420x308.jpg" alt="" width="420" height="308" />
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60"
            href="images/gallery-original-11-800x1200.jpg" data-lightgallery="item"><img
              src="images/project-1-420x308.jpg" alt="" width="420" height="308" /></a>
        </div>
      </article>
      <div class="thumbnail-mary-description">
        <h5 class="thumbnail-mary-project"><a href="#">Farm Establishment</a></h5><span
          class="thumbnail-mary-decor"></span>
        <h5 class="thumbnail-mary-time">
          <time datetime="4000">4000 Kg</time>
        </h5>
      </div>
    </div>
    <div class="owl-item">
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary thumbnail-md">
        <div class="thumbnail-mary-figure"><img src="images/project-2-420x308.jpg" alt="" width="420" height="308" />
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60"
            href="images/gallery-original-5-800x1200.jpg" data-lightgallery="item"><img
              src="images/project-2-420x308.jpg" alt="" width="420" height="308" /></a>
        </div>
      </article>
      <div class="thumbnail-mary-description">
        <h5 class="thumbnail-mary-project"><a href="#">New Partners</a></h5><span class="thumbnail-mary-decor"></span>
        <h5 class="thumbnail-mary-time">
          <time datetime="2005">2005 Kg</time>
        </h5>
      </div>
    </div>
    <div class="owl-item">
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary thumbnail-md">
        <div class="thumbnail-mary-figure"><img src="images/project-3-420x308.jpg" alt="" width="420" height="308" />
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60"
            href="images/gallery-original-4-800x1200.jpg" data-lightgallery="item"><img
              src="images/project-3-420x308.jpg" alt="" width="420" height="308" /></a>
        </div>
      </article>
      <div class="thumbnail-mary-description">
        <h5 class="thumbnail-mary-project"><a href="#">Opening Our Online Store</a></h5><span
          class="thumbnail-mary-decor"></span>
        <h5 class="thumbnail-mary-time">
          <time datetime="2010">2010 Kg</time>
        </h5>
      </div>
    </div>
    <div class="owl-item">
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary thumbnail-md">
        <div class="thumbnail-mary-figure"><img src="images/project-4-420x308.jpg" alt="" width="420" height="308" />
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60"
            href="images/gallery-original-3-800x1200.jpg" data-lightgallery="item"><img
              src="images/project-4-420x308.jpg" alt="" width="420" height="308" /></a>
        </div>
      </article>
      <div class="thumbnail-mary-description">
        <h5 class="thumbnail-mary-project"><a href="#">Farming Industry Leader</a></h5><span
          class="thumbnail-mary-decor"></span>
        <h5 class="thumbnail-mary-time">
          <time datetime="2013">2013 Kg</time>
        </h5>
      </div>
    </div>
    <div class="owl-item">
      <!-- Thumbnail Classic-->
      <article class="thumbnail thumbnail-mary thumbnail-md">
        <div class="thumbnail-mary-figure"><img src="images/project-5-420x308.jpg" alt="" width="420" height="308" />
        </div>
        <div class="thumbnail-mary-caption"><a class="icon fl-bigmug-line-zoom60"
            href="images/gallery-original-1-1200x800.jpg" data-lightgallery="item"><img
              src="images/project-5-420x308.jpg" alt="" width="420" height="308" /></a>
        </div>
      </article>
      <div class="thumbnail-mary-description">
        <h5 class="thumbnail-mary-project"><a href="#">Farming Innovations</a></h5><span
          class="thumbnail-mary-decor"></span>
        <h5 class="thumbnail-mary-time">
          <time datetime="2019">2019 Kg</time>
        </h5>
      </div>
    </div>
  </div>
</section>