<!-- Lists and Blockquote-->
<section class="section section-sm section-last bg-default text-left">
    <div class="container">
        <div class="row row-60 row-md-80 row-lg-90">
            <div class="col-lg-8 col-xl-6">
                <h3>Ordered & Unordered Lists</h3>
                <div class="row row-sm row-30">
                    <div class="col-sm-6">
                        <ul class="list-marked">
                            <li>Consulting</li>
                            <li>Customer Service</li>
                            <li>Innovation</li>
                            <li>Management</li>
                            <li>Ethics</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ol class="list-ordered">
                            <li>Consulting</li>
                            <li>Customer Service</li>
                            <li>Innovation</li>
                            <li>Management</li>
                            <li>Ethics</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-6">
                <div class="offset-left-xl-65">
                    <h3>Blockquote</h3>
                    <!-- Quote Classic-->
                    <article class="quote-classic">
                        <div class="quote-lisa-text">
                            <p class="q">I picked up a head of your lettuce at a local grocery store today. What an
                                amazing and beautiful lettuce it is! I’ve never seen another so full and green and
                                tempting.</p>
                        </div>
                        <h6 class="quote-classic-cite">Catherine Williams</h6>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>