<!-- Lists and Blockquote-->
<section class="section section-sm section-last bg-default text-left">
    <div class="container">
        <div class="row row-60 row-md-80 row-lg-90">
            <div class="col-lg-8 col-xl-6">
                <h3>Servicios</h3>
                <div class="row row-sm row-30">
                    <div class="col-sm-6">
                        <ul class="list-marked">
                            <li>Lo más sembrado en el Catatumbo</li>
                            <li>Ofertas de las Plazas</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ol class="list-marked">
                            <li>Precios de los Productos agricolas</li>
                            <li>Proyección de los cultivos</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-6">
                <div class="offset-left-xl-65">
                    <h3>Reflexión</h3>
                    <!-- Quote Classic-->
                    <article class="quote-classic">
                        <div class="quote-lisa-text">
                            <p class="q">La agricultura es nuestra primera y más importante fuente de riqueza natural. Es la base sobre la cual se apoya todo el sistema político y moral de la sociedad.</p>
                        </div>
                        <h6 class="quote-classic-cite">Thomas Jefferson</h6>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>