<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Plaza</th>
            <th scope="col">Unidad(Kg)</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Alverja</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">Tomate</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">Cebolla Blanca Cabezona</th>
            <td>Palo Quemado</td>
            <td>60kg</td>
            <td>$100000</td>
        </tr>
        <tr>
            <th scope="row">Cebolla Blanca Cabezona</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">Cebollin</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">Pepino</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">Cilantro</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
        <tr>
            <th scope="row">Pimentón</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">Frijos</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">Avichuela</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">Lulo</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">Maiz</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">Frijol Billoro</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
    </tbody>
</table>