<!-- Why choose us-->
<section class="section section-md section-first bg-default text-md-left">
    <div class="container">
      <div class="row row-50 justify-content-center">
        <div class="col-md-10 col-lg-7 col-xl-6">
          <h2>Productos destacados</h2>
          <!-- Bootstrap tabs-->
          <div class="tabs-custom tabs-horizontal tabs-line" id="tabs-4">
            <!-- Nav tabs-->
            <ul class="nav nav-tabs">
              <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-4-1" data-toggle="tab">Arveja Verde</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-4-2" data-toggle="tab">Cilantro</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-4-3" data-toggle="tab">Piment&oacute;n</a></li>
            </ul>
            <!-- Tab panes-->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="tabs-4-1">
                <p>La arveja verde es un tesoro en nuestros campos. Esta pequeña leguminosa, cultivada con esmero en la fértil tierra del Catatumbo, se destaca por su exquisito sabor y su textura tierna. Con su característico color verde brillante, la arveja es una fuente de nutrientes esenciales, como proteínas, fibra y vitaminas.</p>
                <div class="text-center text-sm-left offset-top-30">
                  <ul class="row-16 list-0 list-custom list-marked list-marked-sm list-marked-secondary">
                    <li>Alta demanda en el mercado</li>
                    <li>Ciclo de cultivo corto</li>
                    <li>Adaptabilidad climática</li>
                    <li>Mejora de la calidad del suelo</li>
                    <li>Cultivo de bajo mantenimiento</li>
                    <li>Diversificación de cultivos</li>
                  </ul>
                </div>
                <!-- <div class="group-md group-middle"><a class="button button-width-xl-230 button-primary button-pipaluk" href="#">Read more</a><a class="button button-width-xl-310 button-default-outline button-wapasha" href="contact-us.html">Contact us</a></div> -->
              </div>
              <div class="tab-pane fade" id="tabs-4-2">
                <p>El cilantro es una planta herbácea ampliamente cultivada por agricultores en todo el mundo. Este cultivo presenta varias ventajas para los agricultores, lo que lo convierte en una opción atractiva en sus campos.</p>
                <div class="text-center text-sm-left offset-top-30">
                  <ul class="row-16 list-0 list-custom list-marked list-marked-sm list-marked-secondary">
                    <li>Ciclo de cultivo corto</li>
                    <li>Adaptabilidad climática</li>
                    <li>Demanda en el mercado</li>
                    <li>Bajo mantenimiento</li>
                    <li>Diversificación de productos</li>
                    <li>Fácil manejo y cultivo</li>
                  </ul>
                </div>
                <!-- <div class="group-md group-middle"><a class="button button-width-xl-230 button-primary button-pipaluk" href="#">Read more</a><a class="button button-width-xl-310 button-default-outline button-wapasha" href="contact-us.html">Contact us</a></div> -->
              </div>
              <div class="tab-pane fade" id="tabs-4-3">
                <p style="text-align: justify;">El cultivo de pimentón, también conocido como ají dulce o pimiento, ofrece numerosas ventajas para los agricultores. Este cultivo se destaca por su versatilidad, su alta demanda en el mercado y sus múltiples beneficios agronómicos.
                  <br>
                  El pimentón es una planta de ciclo corto que permite obtener cosechas en relativamente poco tiempo. Además, se adapta bien a diferentes condiciones climáticas, lo que lo hace viable en diversas regiones. Su popularidad en la cocina y su amplio uso en la industria alimentaria aseguran una demanda constante y oportunidades de comercialización.</p>
                <div class="text-center text-sm-left offset-top-30">
                  <ul class="row-16 list-0 list-custom list-marked list-marked-sm list-marked-secondary">
                    <li>Alta demanda en el mercado</li>
                    <li>Rentabilidad</li>
                    <li>Ciclo de cultivo corto</li>
                    <li>Bajo mantenimiento</li>
                    <li>Versatilidad culinaria</li>
                    <li>Adaptabilidad climática</li>
                  </ul>
                </div>
                <!-- <div class="group-md group-middle"><a class="button button-width-xl-230 button-primary button-pipaluk" href="#">Read more</a><a class="button button-width-xl-310 button-default-outline button-wapasha" href="contact-us.html">Contact us</a></div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 col-lg-5 col-xl-6">
          <div class="row row-50 justify-content-center" style="overflow-y: auto;max-height: 500px;">
            {% include 'tablePrecisProducts/tablePrecis.html' %}
        </div>
      </div>
    </div>
  </section>